<html lang="en">
  <head>
    <title>Weather App</title>
    <meta charset="utf-8" />
  </head>
<body>
<h1></h1>
<div class="container">
    
        <form action="/" method="post">
            <input name="cities" type="text" class="city" placeholder="Please Enter A City">
            <br>
            <input type="submit" class="submit-button" value="Get Temperature"><br>
        </form>
       
        <% if (city_data) {%>
          <h2><%= city_data %></h2>
        <%} %>
</div>
</body>
</html>